.ContasReceber {
  font-family: "Montserrat", sans-serif;
  font-size: 20px;
  margin-left: 13rem;
  margin-top: 0.5rem;
  white-space: nowrap;
  position: absolute;
}

.LinhaCabConRec {
  height: 0.0625rem;
  width: 110rem;
  margin-top: 2.5rem;
  margin-left: 10rem;
  background-color: #e2e2e2;
  position: absolute;
}

.diretorioRec {
  display: flex;
  justify-content: center;
  position: absolute;
  margin-top: 3.5rem;
  margin-left: 12.47rem;
  font-family: "Montserrat", sans-serif;
}

.diretorioItemRec {
  margin: 0 0.5625rem;
  font-size: 15px;
}

.diretorioItemRec:nth-child(1) {
  cursor: pointer;
}

.diretorioItemRec:nth-child(3) {
  cursor: pointer;
}

.diretorioItemRec a {
  text-decoration: none;
  color: inherit;
}

.CadastroContaS {
  position: absolute;
  margin-left: 13rem;
  margin-top: 6rem;
  background-color: #e2e2e2;
  width: 104.5rem;
  height: 17rem;
  border-radius: 10px;
  font-size: 17px;
  font-family: "Montserrat", sans-serif;
}

.bancO {
  margin-top: 1.5rem;
  margin-left: 2rem;
  position: absolute;
}

.bancO .input-text {
  border: none;
  width: 18rem;
  height: 1.75rem;
  position: absolute;
  font-family: "Montserrat", sans-serif;
  border-radius: 5px;
  font-size: 13px;
  margin-top: 0.5rem;
}

.DataEmissaO {
  margin-top: 1.5rem;
  margin-left: 27.5rem;
  position: absolute;
}

.DataEmissaO .input-text {
  border: none;
  width: 18rem;
  height: 1.75rem;
  position: absolute;
  font-family: "Montserrat", sans-serif;
  border-radius: 5px;
  font-size: 13px;
  margin-top: 0.5rem;
}

.plancontarec {
  margin-left: 53rem;
  margin-top: 1.5rem;
  position: absolute;
}

#plancontarec-dropbox {
  border: none;
  width: 18rem;
  height: 1.875rem;
  position: absolute;
  font-family: "Montserrat", sans-serif;
  border-radius: 5px;
  font-size: 13px;
  margin-top: 0.5rem;
}

.tipodocrec {
  margin-left: 78.5rem;
  margin-top: 1.5rem;
  position: absolute;
}

#tipodocrec-dropbox {
  border: none;
  width: 18rem;
  height: 1.875rem;
  position: absolute;
  font-family: "Montserrat", sans-serif;
  border-radius: 5px;
  font-size: 13px;
  margin-top: 0.5rem;
}

.clienterec {
  margin-top: 6.5rem;
  margin-left: 2rem;
  position: absolute;
}

.clienterec .input-text {
  border: none;
  width: 43.5rem;
  height: 1.875rem;
  position: absolute;
  font-family: "Montserrat", sans-serif;
  border-radius: 5px;
  font-size: 13px;
  margin-top: 0.5rem;
}

.valoR {
  margin-top: 6.5rem;
  margin-left: 53rem;
  position: absolute;
}

.valoR .input-text {
  border: none;
  width: 18rem;
  height: 1.75rem;
  position: absolute;
  font-family: "Montserrat", sans-serif;
  border-radius: 5px;
  font-size: 13px;
  margin-top: 0.5rem;
}

.descrec {
  margin-top: 11.6rem;
  margin-left: 2rem;
  position: absolute;
}

.descrec .input-text {
  border: none;
  width: 43.5rem;
  height: 1.75rem;
  position: absolute;
  font-family: "Montserrat", sans-serif;
  border-radius: 5px;
  font-size: 13px;
  margin-top: 0.5rem;
}

.btncadRec {
  margin-left: 58rem;
  margin-top: 13.1rem;
  position: absolute;
  border: none;
  background-color: #0ca293;
  color: white;
  border-radius: 4px;
  font-size: 13px;
  height: 2rem;
  width: 8.5rem;
  font-family: "Montserrat", sans-serif;
}

.btncadRec:hover {
  background-color: #0c7e68;
}

.btncadRec:active {
  background-color: white;
  color: #0ca293;
}

.QuadroContas {
  position: absolute;
  margin-left: 13rem;
  margin-top: 25rem;
  background-color: #e2e2e2;
  width: 104.5rem;
  height: 35rem;
  border-radius: 10px;
  line-height: 1.5;
}

.FecharModalRec {
  position: absolute;
  margin-top: -4rem;
  margin-left: 32rem;
  height: 2rem;
  width: 2rem;
  border: none;
  background-color: transparent;
}

.modalIdRec {
  margin-top: 0.5rem;
  position: absolute;
}

.modalIdRec .input-text {
  border: none;
  width: 10rem;
  height: 1.75rem;
  position: absolute;
  font-family: "Montserrat", sans-serif;
  border-radius: 5px;
  font-size: 13px;
  margin-top: 0.5rem;
}

.modalBanco {
  margin-top: 0.5rem;
  margin-left: 11.5rem;
  position: absolute;
}

.modalBanco .input-text {
  border: none;
  width: 10rem;
  height: 1.75rem;
  position: absolute;
  font-family: "Montserrat", sans-serif;
  border-radius: 5px;
  font-size: 13px;
  margin-top: 0.5rem;
}

.modalDataEmissaO {
  margin-top: 0.5rem;
  margin-left: 23rem;
  position: absolute;
}

.modalDataEmissaO .input-text {
  border: none;
  width: 10rem;
  height: 1.75rem;
  position: absolute;
  font-family: "Montserrat", sans-serif;
  border-radius: 5px;
  font-size: 13px;
  margin-top: 0.5rem;
}

.modalPlanoConta {
  margin-top: 5.5rem;
  position: absolute;
  white-space: nowrap;
}

#modalPlanContaRec-dropbox {
  border: none;
  width: 10rem;
  height: 1.875rem;
  position: absolute;
  font-family: "Montserrat", sans-serif;
  border-radius: 5px;
  font-size: 13px;
  margin-top: 0.5rem;
}

.modalTipoDocRec {
  margin-top: 5.5rem;
  margin-left: 11.5rem;
  position: absolute;
}

#modalTipoDocRec-dropbox {
  border: none;
  width: 10rem;
  height: 1.875rem;
  position: absolute;
  font-family: "Montserrat", sans-serif;
  border-radius: 5px;
  font-size: 13px;
  margin-top: 0.5rem;
}

.modalCliente {
  margin-top: 10.5rem;
  position: absolute;
}

.modalCliente .input-text {
  border: none;
  width: 33rem;
  height: 1.875rem;
  position: absolute;
  font-family: "Montserrat", sans-serif;
  border-radius: 5px;
  font-size: 13px;
  margin-top: 0.5rem;
}

.modalValoR {
  margin-top: 5.5rem;
  margin-left: 23rem;
  position: absolute;
}

.modalValoR .input-text {
  border: none;
  width: 10rem;
  height: 1.75rem;
  position: absolute;
  font-family: "Montserrat", sans-serif;
  border-radius: 5px;
  font-size: 13px;
  margin-top: 0.5rem;
}

.modalDescricao {
  margin-top: 15.5rem;
  position: absolute;
}

.modalDescricao .input-text {
  border: none;
  width: 33rem;
  height: 1.75rem;
  position: absolute;
  font-family: "Montserrat", sans-serif;
  border-radius: 5px;
  font-size: 13px;
  margin-top: 0.5rem;
}

.btnAltRec {
  margin-left: 71rem;
  margin-top: 13.1rem;
  position: absolute;
  border: none;
  background-color: #2311c2;
  color: white;
  border-radius: 4px;
  font-size: 13px;
  height: 2rem;
  width: 8rem;
  font-family: "Montserrat", sans-serif;
}

.btnAltRec:hover {
  background-color: #170c7e;
}

.btnAltRec:active {
  background-color: #0c0741;
  color: #ffffff;
}

.AlterarDadosRec {
  margin-top: 21.5rem;
  position: absolute;
  border: none;
  background-color: #2311c2;
  color: white;
  border-radius: 4px;
  font-size: 13px;
  font-weight: 600;
  height: 2rem;
  width: 8rem;
  font-family: "Montserrat", sans-serif;
  white-space: nowrap;
}

.CancelarDadosRec {
  margin-left: 25rem;
  margin-top: 21.5rem;
  position: absolute;
  border: none;
  background-color: #c21111;
  color: white;
  border-radius: 4px;
  font-size: 13px;
  font-weight: 600;
  height: 2rem;
  width: 8rem;
  font-family: "Montserrat", sans-serif;
  white-space: nowrap;
}

.btnDelRec {
  margin-left: 84rem;
  margin-top: 13.1rem;
  position: absolute;
  border: none;
  background-color: #bd1010;
  color: white;
  border-radius: 4px;
  font-size: 13px;
  height: 2rem;
  width: 8rem;
  font-family: "Montserrat", sans-serif;
}

.btnDelRec:hover {
  background-color: #830c0c;
}

.btnDelRec:active {
  background-color: #3a0505;
  color: #ffffff;
}

.DelFecharModalRec {
  position: absolute;
  margin-top: -4rem;
  margin-left: 20rem;
  height: 2rem;
  width: 2rem;
  border: none;
  background-color: transparent;
}

.ExcluirDadosRec {
  margin-top: 21.5rem;
  position: absolute;
  border: none;
  background-color: #2311c2;
  color: white;
  border-radius: 4px;
  font-size: 13px;
  font-weight: 600;
  height: 2rem;
  width: 8rem;
  font-family: "Montserrat", sans-serif;
  white-space: nowrap;
}

.DelCancelarDadosRec {
  margin-left: 12rem;
  margin-top: 9rem;
  position: absolute;
  border: none;
  background-color: #c21111;
  color: white;
  border-radius: 4px;
  font-size: 13px;
  font-weight: 600;
  height: 2rem;
  width: 8rem;
  font-family: "Montserrat", sans-serif;
  white-space: nowrap;
}

.modalIdReceita {
  margin-top: 1.5rem;
  margin-left: 3rem;
  position: absolute;
}

.modalIdReceita .input-text {
  border: none;
  width: 14rem;
  height: 1.75rem;
  position: absolute;
  font-family: "Montserrat", sans-serif;
  border-radius: 5px;
  font-size: 13px;
  margin-top: 0.5rem;
}

.BtnLimparCadRec {
  margin-left: 84rem;
  margin-top: 8.2rem;
  position: absolute;
  border: none;
  background-color: #8aa123;
  color: white;
  border-radius: 4px;
  font-size: 13px;
  font-weight: 600;
  height: 2rem;
  width: 8rem;
  font-family: "Montserrat", sans-serif;
  white-space: nowrap;
}

.BtnLimparCadRec:hover {
  background-color: #5a6918;
}

.BtnLimparCadRec:active {
  background-color: #2f360c;
  color: #ffffff;
}

.modal-backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.modal {
  background: #fff;
  padding: 20px;
  border-radius: 8px;
  width: 300px;
  text-align: center;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.modal.success {
  border: 2px solid #4caf50;
}

.modal.error {
  border: 2px solid #f44336;
}

.modal p {
  margin: 0;
  font-size: 16px;
}

.modal.success p {
  color: #4caf50;
}

.modal.error p {
  color: #f44336;
}

.modalPlanoConta .input-text,
.modalTipoDocRec .input-text{
  border: none;
  width: 10rem;
  height: 1.75rem;
  position: absolute;
  font-family: "Montserrat", sans-serif;
  border-radius: 5px;
  font-size: 13px;
  margin-top: 0.5rem;
}

.readOnly {
  background-color: #d7d7d7;
}

@media screen and (max-width: 1366px) {
  .ContasReceber {
    margin-top: 0.5rem;
  }

  .LinhaCabConRec {
    margin-top: 2.5rem;
  }

  .diretorioRec {
    margin-top: 3.5rem;
  }

  .CadastroContaS {
    margin-top: 5.5rem;
    width: 67.5rem;
    height: 15rem;
  }

  .bancO {
    margin-top: 0.8rem;
  }

  .bancO .input-text {
    width: 12.5rem;
  }

  .DataEmissaO {
    margin-top: 0.8rem;
    margin-left: 18.5rem;
  }

  .DataEmissaO .input-text {
    width: 12.5rem;
  }

  .plancontarec {
    margin-left: 35rem;
    margin-top: 0.8rem;
  }

  #plancontarec-dropbox {
    width: 13rem;
  }

  .tipodocrec {
    margin-left: 52rem;
    margin-top: 0.8rem;
  }

  #tipodocrec-dropbox {
    width: 13rem;
  }

  .clienterec {
    margin-top: 5.5rem;
    margin-left: 2rem;
    position: absolute;
  }

  .clienterec .input-text {
    width: 29rem;
  }

  .valoR {
    margin-top: 5.5rem;
    margin-left: 35rem;
  }

  .valoR .input-text {
    width: 13rem;
  }

  .descrec {
    margin-top: 10.3rem;
    margin-left: 2rem;
  }

  .descrec .input-text {
    width: 46rem;
  }

  .btncadRec {
    margin-left: 54.5rem;
    margin-top: 5.4rem;
    width: 8.5rem;
  }

  .BtnLimparCadRec {
    margin-left: 54.5rem;
    margin-top: 7.6rem;
    width: 8.5rem;
  }

  .btnAltRec {
    margin-left: 54.5rem;
    margin-top: 9.8rem;
    width: 8.5rem;
  }

  .btnDelRec {
    margin-left: 54.5rem;
    margin-top: 12rem;
    width: 8.5rem;
  }

  .modal-backdrop {
    margin-top: -10%;
    margin-left: -14%;
  }

  .QuadroContas {
    width: 67.5rem;
    height: 23rem;
    margin-top: 22rem;
  }
}
