* {
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}

body {
  background-color: #ffffff;
  font-size: 20px;
  position: relative;
  padding-bottom: 2rem;
}

.form-menu {
  margin-top: -2rem;
  margin-left: -1rem;
  position: fixed;
  background-color: #002945;
  height: 265rem;
  width: 12.5rem;
  z-index: 2;
}

.form-menu img {
  height: 7rem;
  width: 7.5rem;
  border-radius: 5px;
  margin-left: 2.8rem;
  margin-top: 3.25rem;
  position: absolute;
}

.btn {
  position: relative;
  padding: 0.625rem 1.25rem;
  cursor: pointer;
  border: 0.0625rem solid transparent;
  font-size: 0.75rem;
  font-family: "Montserrat", sans-serif;
  background: none;
  color: #ffffff;
  margin: 0.3125rem 0.1875rem;
  display: inline-block;
  width: 12.3125rem;
  height: 2.5rem;
  text-align: left;
  top: 10.875rem;
  transition: none;
}

.btn:hover {
  background-color: #0f0f3a;
  color: #f0f0f0;
}

.btn:active {
  color: #272727;
  background-color: #ffffff;
  transition: 0s ease-in-out;
  border: none;
  transform: translateY(0);
}

.btn:active .Indicador2 {
  margin-top: -0.29rem;
  margin-left: -1.4375rem;
  background-color: #272727;
}

/* Alterável */
.Indicador {
  margin-top: -26rem;
  height: 2.5rem;
  width: 0.1875rem;
  background-color: #ffffff;
}

.btn:hover .Indicador2 {
  background-color: #bdbdbd;
  display: block;
}

.Indicador2 {
  margin-top: -0.35rem;
  margin-left: -1.5rem;
  transform: translateY(-50%);
  height: 2.5rem;
  width: 0.1875rem;
  display: none;
}

.btn3:hover .Indicador2 {
  margin-left: -8.8rem;
  margin-top: 2.5rem;
}

.btn4:hover .Indicador2 {
  margin-left: -9.2rem;
  margin-top: 2.5rem;
}

.btn8:hover .Indicador2 {
  margin-left: -10.3rem;
  margin-top: 2.5rem;
}

.btn.btn3 {
  padding: 0.625rem 1.25rem;
}

.btn i.fa-house {
  margin-right: 1.25rem;
}

.btn i.fa-chart-simple {
  margin-right: 1.4375rem;
}

.btn i.fa-user-group {
  margin-right: 1.2rem;
}

.btn3 {
  align-items: center;
  display: flex;
}

.btn i.fa-coins {
  margin-right: 1.35625rem;
}

.btn4 {
  align-items: center;
  display: flex;
}

.btn i.fa-handshake {
  margin-right: 1.2rem;
}

.btn i.fa-money-bill {
  margin-right: 1.25625rem;
}

.btn i.fa-wallet {
  margin-right: 1.3125rem;
}

.btn i.fa-square-check {
  margin-right: 1.40625rem;
}

.btn8 {
  align-items: center;
  display: flex;
}

.btn i.fa-file-invoice {
  margin-right: 1.5rem;
}

.btn i.fa-gear {
  margin-right: 1.325rem;
}

.btn i.fa-book {
  margin-right: 1.4375rem;
}

.btn i.fa-phone {
  margin-right: 1.3125rem;
}

.Cabeçalho {
  position: absolute;
}

.LinhaCab {
  height: 0.0625rem;
  width: 108.8rem;
  margin-top: 2.5rem;
  margin-left: 10rem;
  background-color: #e2e2e2;
}

.btnCab {
  background-color: #188063;
  height: 2rem;
  width: 2.5rem;
  top: 0.4rem;
  margin-left: 11.875rem;
  border: none;
  border-radius: 0.46875rem;
  color: #ffffff;
  position: relative;
  display: inline-block;
  cursor: pointer;
}

.BemVindo {
  color: #000000;
  font-size: 20px;
  margin-top: -2rem;
  margin-left: 13.5rem;
  position: relative;
  white-space: nowrap;
}

.Sair {
  background-color: transparent;
  border: none;
  margin-top: -1.65rem;
  margin-left: 113rem;
  font-size: 0.9375rem;
  color: #757575;
  position: absolute;
  cursor: pointer;
  width: 2.5rem;
  height: 1.875rem;
  border-radius: 0.3125rem;
  border: none;
  font-family: "Montserrat", sans-serif;
}

.btnCab:hover {
  background-color: #0c7e68;
}

.btnCab:active {
  background-color: #ffffff;
  color: #0ca293;
}

.Sair:active {
  background-color: #e9e9e9;
}

.Card {
  position: absolute;
}

.Forma1 {
  background-color: #27ae60;
  margin-top: 3.5rem;
  margin-left: 13.5625rem;
  position: absolute;
  text-align: center;
  width: 33rem;
  height: 7.5rem;
  border-radius: 0.46875rem;
  box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.2);
}

.Forma2 {
  background-color: #c0392b;
  margin-top: 3.5rem;
  margin-left: 48.5rem;
  position: absolute;
  width: 33rem;
  height: 7.5rem;
  border-radius: 0.46875rem;
  box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.2);
}

.Forma3 {
  background-color: #2980b9;
  margin-top: 3.5rem;
  margin-left: 84rem;
  position: absolute;
  width: 33rem;
  height: 7.5rem;
  border-radius: 0.46875rem;
  box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.2);
}

.Forma3 p {
  font-size: 0.85rem;
  top: 0.375rem;
  right: 1.4375rem;
  text-align: center;
  color: #ffffff;
  position: absolute;
  font-family: "Montserrat", sans-serif;
}

.Forma1 p {
  font-size: 0.85rem;
  top: 0.375rem;
  margin: lef;
  right: 1.4375rem;
  text-align: center;
  color: #ffffff;
  position: absolute;
  font-family: "Montserrat", sans-serif;
}

.Forma2 p {
  font-size: 0.85rem;
  top: 0.375rem;
  right: 1.4375rem;
  text-align: right;
  color: #ffffff;
  position: absolute;
  font-family: "Montserrat", sans-serif;
}

.quadrado1 {
  height: 7rem;
  width: 103.5rem;
  background-color: #ebebeb;
  border: none;
  border-radius: 10px;
  margin-left: 13.5rem;
  margin-top: 12rem;
  position: absolute;
  box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.2);
}

.tipodocumentotxt {
  color: rgb(0, 0, 0);
  font-size: 18px;
  font-family: "Montserrat", sans-serif;
  margin-top: 20px;
  margin-left: 10rem;
  position: absolute;
}

.banctxt {
  color: rgb(0, 0, 0);
  font-size: 18px;
  font-family: "Montserrat", sans-serif;
  margin-top: 20px;
  margin-left: 35rem;
  position: absolute;
}

.plantxt {
  color: rgb(0, 0, 0);
  font-size: 18px;
  font-family: "Montserrat", sans-serif;
  margin-top: 20px;
  margin-left: 60rem;
  position: absolute;
}

.dropdown {
  position: absolute;
  display: inline-block;
  margin-left: 10rem;
  width: 18rem;
  height: 30px;
  margin-top: 3rem;
  font-size: 18px;
  border: none;
  border-radius: 5px;
  font-family: "Montserrat", sans-serif;
}

.dropdown3 {
  position: absolute;
  display: inline-block;
  margin-left: 35rem;
  width: 18rem;
  height: 30px;
  margin-top: 3rem;
  font-size: 18px;
  border: none;
  border-radius: 5px;
  font-family: "Montserrat", sans-serif;
}

.dropdown4 {
  position: absolute;
  display: inline-block;
  margin-left: 60rem;
  width: 18rem;
  height: 30px;
  margin-top: 3rem;
  font-size: 18px;
  border: none;
  border-radius: 5px;
  font-family: "Montserrat", sans-serif;
}

.quadrado2 {
  height: 1160px;
  width: 103.5rem;
  background-color: #ebebeb;
  border: none;
  border-radius: 10px;
  margin-left: 13.5rem;
  margin-top: 20.1rem;
  position: absolute;
  box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.2);
}

.VisaoFinanceiratxt {
  text-align: center;
  color: rgb(0, 0, 0);
  font-size: 30px;
  font-family: "Montserrat", sans-serif;
  margin-top: 35px;
}

.gf1 {
  width: 99.3rem;
  height: 500px;
  background-color: white;
  border-radius: 10px;
  margin-left: 30px;
  margin-top: 30px;
  position: absolute;
  box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.2);
}

.FluxodeCaixatxt {
  text-align: center;
  color: rgb(0, 0, 0);
  font-size: 20px;
  font-family: "Montserrat", sans-serif;
  margin-top: 30px;
}

.gf2 {
  width: 48rem;
  height: 500px;
  background-color: white;
  border-radius: 10px;
  margin-left: 30px;
  margin-top: 560px;
  position: absolute;
  box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.2);
}

.saidaplanocontatxt {
  text-align: center;
  color: rgb(0, 0, 0);
  font-size: 20px;
  font-family: "Montserrat", sans-serif;
  margin-top: 30px;
}

.gf3 {
  width: 48.25rem;
  height: 500px;
  background-color: white;
  border-radius: 10px;
  margin-left: 53rem;
  margin-top: 560px;
  position: absolute;
  box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.2);
}

.entradaplanocontatxt {
  text-align: center;
  color: rgb(0, 0, 0);
  font-size: 20px;
  font-family: "Montserrat", sans-serif;
  margin-top: 30px;
}

.quadrado3 {
  height: 52rem;
  width: 103.5rem;
  background-color: #ebebeb;
  border: none;
  border-radius: 10px;
  margin-left: 13.5rem;
  margin-top: 93.7rem;
  margin-bottom: 2rem;
  position: absolute;
  box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.2);
}

.VisaoEconomicatxt {
  text-align: center;
  color: rgb(0, 0, 0);
  font-size: 35px;
  font-family: "Montserrat", sans-serif;
  margin-top: 35px;
}

.gf10 {
  width: 30rem;
  height: 150px;
  background-color: #27ae60;
  border-radius: 10px;
  margin-left: 2rem;
  margin-top: 550px;
  box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.2);
  position: absolute;
}

.receitastotaistxt {
  color: white;
  font-size: 17px;
  font-weight: 600;
  font-family: "Montserrat", sans-serif;
  margin-left: 18.5rem;
  margin-top: 25px;
}

.gf11 {
  width: 30rem;
  height: 150px;
  background-color: #c0392b;
  border-radius: 10px;
  margin-left: 36.5rem;
  margin-top: 550px;
  box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.2);
  position: absolute;
  text-align: center;
}

.custostotaistxt {
  color: rgb(255, 255, 255);
  font-size: 17px;
  font-weight: 600;
  font-family: "Montserrat", sans-serif;
  margin-left: 16rem;
  margin-top: 25px;
}

.gf12 {
  width: 30rem;
  height: 150px;
  background-color: #2980b9;
  border-radius: 10px;
  margin-left: 71rem;
  margin-top: 550px;
  box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.2);
  position: absolute;
}

.lucroliquidotxt {
  color: rgb(255, 255, 255);
  font-size: 17px;
  font-weight: 600;
  font-family: "Montserrat", sans-serif;
  margin-left: 19rem;
  margin-top: 25px;
}

.gf13 {
  width: 99.3rem;
  height: 500px;
  background-color: rgb(255, 255, 255);
  border-radius: 10px;
  margin-left: 30px;
  margin-top: 10px;
  box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.2);
  position: absolute;
}

.lucroregimecomptxt {
  text-align: center;
  color: rgb(0, 0, 0);
  font-size: 20px;
  font-family: "Montserrat", sans-serif;
  margin-top: 30px;
}

.Valor1 {
  position: absolute;
  margin-top: -0.3rem;
  margin-left: 25.5rem;
  z-index: 1000;
  white-space: nowrap;
}

.Valor1 p {
  color: #ffffff;
  font-size: 40px;
  font-weight: 700;
}

.Valor2 {
  position: absolute;
  margin-top: -0.3rem;
  margin-left: 25.5rem;
  z-index: 1000;
  white-space: nowrap;
}

.Valor2 p {
  color: #ffffff;
  font-size: 40px;
  font-weight: 700;
}

.Valor3 {
  position: absolute;
  margin-top: -0.3rem;
  margin-left: 25.5rem;
  z-index: 1000;
  white-space: nowrap;
}

.Valor3 p {
  color: #ffffff;
  font-size: 40px;
  font-weight: 700;
}

.receitastotaistxt .Valor1 {
  margin-left: -12rem;
  margin-top: -1.5rem;
}

.custostotaistxt .Valor2 {
  margin-left: -8.5rem;
  margin-top: -1.5rem;
}

.lucroliquidotxt .Valor3 {
  margin-left: -11rem;
  margin-top: -1.5rem;
}

.BtnLimparFiltros {
  margin-left: 86rem;
  margin-top: 2.8rem;
  position: absolute;
  border: none;
  background-color: #c0392b;
  color: white;
  border-radius: 4px;
  font-size: 13px;
  font-weight: 600;
  height: 2rem;
  width: 8rem;
  font-family: "Montserrat", sans-serif;
  white-space: nowrap;
}

.BtnLimparFiltros:hover {
  background-color: #81271d;
}

.BtnLimparFiltros:active {
  background-color: #4b1711;
  color: #ffffff;
}

/* Responsividade para telas de resolução de 1366x768 píxels */
@media (max-width: 1366px) {
  .form-menu {
    margin-top: -2rem;
    margin-left: -1rem;
    position: fixed;
    background-color: #002945;
    height: 265rem;
    width: 12.5rem;
    z-index: 2;
  }

  .form-menu img {
    height: 3.5rem;
    width: 6rem;
    margin-left: 3.7rem;
    margin-top: 4.5rem;
    position: absolute;
  }

  .btn {
    position: relative;
    padding: 0.625rem 1.25rem;
    cursor: pointer;
    border: 0.0625rem solid transparent;
    font-size: 0.75rem;
    font-family: "Montserrat", sans-serif;
    background: none;
    color: #ffffff;
    margin: 0.3125rem 0.1875rem;
    display: inline-block;
    width: 12.3125rem;
    height: 2.5rem;
    text-align: left;
    top: 10.875rem;
    transition: none;
  }

  .btn:hover {
    background-color: #0f0f3a;
    color: #f0f0f0;
  }

  .btn:active {
    color: #272727;
    background-color: #ffffff;
    transition: 0s ease-in-out;
    border: none;
    transform: translateY(0);
  }

  .btn:active .Indicador2 {
    margin-top: -0.29rem;
    margin-left: -1.4375rem;
    background-color: #272727;
  }

  /* Alterável */
  .Indicador {
    margin-top: -26rem;
    height: 2.5rem;
    width: 0.1875rem;
    background-color: #ffffff;
  }

  .btn:hover .Indicador2 {
    background-color: #bdbdbd;
    display: block;
  }

  .Indicador2 {
    margin-top: -0.35rem;
    margin-left: -1.5rem;
    transform: translateY(-50%);
    height: 2.5rem;
    width: 0.1875rem;
    display: none;
  }

  .btn3:hover .Indicador2 {
    margin-left: -8.8rem;
    margin-top: 2.5rem;
  }

  .btn4:hover .Indicador2 {
    margin-left: -9.2rem;
    margin-top: 2.5rem;
  }

  .btn8:hover .Indicador2 {
    margin-left: -10.3rem;
    margin-top: 2.5rem;
  }

  .btn.btn3 {
    padding: 0.625rem 1.25rem;
  }

  .btn i.fa-house {
    margin-right: 1.25rem;
  }

  .btn i.fa-chart-simple {
    margin-right: 1.4375rem;
  }

  .btn i.fa-user-group {
    margin-right: 1.2rem;
  }

  .btn3 {
    align-items: center;
    display: flex;
  }

  .btn i.fa-coins {
    margin-right: 1.35625rem;
  }

  .btn4 {
    align-items: center;
    display: flex;
  }

  .btn i.fa-handshake {
    margin-right: 1.2rem;
  }

  .btn i.fa-money-bill {
    margin-right: 1.25625rem;
  }

  .btn i.fa-wallet {
    margin-right: 1.3125rem;
  }

  .btn i.fa-square-check {
    margin-right: 1.40625rem;
  }

  .btn8 {
    align-items: center;
    display: flex;
  }

  .btn i.fa-file-invoice {
    margin-right: 1.5rem;
  }

  .btn i.fa-gear {
    margin-right: 1.325rem;
  }

  .btn i.fa-book {
    margin-right: 1.4375rem;
  }

  .btn i.fa-phone {
    margin-right: 1.3125rem;
  }

  .Cabeçalho {
    position: absolute;
  }

  .LinhaCab {
    height: 0.0625rem;
    width: 75.2rem;
    margin-top: 2.5rem;
    margin-left: 10rem;
    background-color: #e2e2e2;
  }

  .BemVindo {
    color: #000000;
    font-size: 20px;
    margin-top: -2rem;
    margin-left: 13.5rem;
    position: relative;
    white-space: nowrap;
  }

  .Sair {
    background-color: transparent;
    border: none;
    margin-top: -1.65rem;
    margin-left: 81rem;
    font-size: 0.9375rem;
    color: #757575;
    position: absolute;
    cursor: pointer;
    width: 2.5rem;
    height: 1.875rem;
    border-radius: 0.3125rem;
    border: none;
    font-family: "Montserrat", sans-serif;
  }

  .btnCab:hover {
    background-color: #0c7e68;
  }

  .btnCab:active {
    background-color: #ffffff;
    color: #0ca293;
  }

  .Sair:active {
    background-color: #e9e9e9;
  }

  .Card {
    position: absolute;
  }

  .Forma1 {
    background-color: #205f68;
    margin-top: 3.5rem;
    margin-left: 13.5625rem;
    position: absolute;
    text-align: center;
    width: 22rem;
    height: 7.5rem;
    border-radius: 0.46875rem;
    box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.2);
  }

  .Forma2 {
    background-color: #f18824;
    margin-top: 3.5rem;
    margin-left: 38rem;
    position: absolute;
    width: 22rem;
    height: 7.5rem;
    border-radius: 0.46875rem;
    box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.2);
  }

  .Forma3 {
    background-color: #116114;
    margin-top: 3.5rem;
    margin-left: 62.5rem;
    position: absolute;
    width: 22rem;
    height: 7.5rem;
    border-radius: 0.46875rem;
    box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.2);
  }

  .Forma3 p {
    font-size: 0.85rem;
    top: 0.375rem;
    right: 1.4375rem;
    text-align: center;
    color: #ffffff;
    position: absolute;
    font-family: "Montserrat", sans-serif;
  }

  .Forma1 p {
    font-size: 0.85rem;
    top: 0.375rem;
    margin: lef;
    right: 1.4375rem;
    text-align: center;
    color: #ffffff;
    position: absolute;
    font-family: "Montserrat", sans-serif;
  }

  .Forma2 p {
    font-size: 0.85rem;
    top: 0.375rem;
    right: 1.4375rem;
    text-align: right;
    color: #ffffff;
    position: absolute;
    font-family: "Montserrat", sans-serif;
  }

  .quadrado1 {
    height: 7rem;
    width: 71rem;
    background-color: #ebebeb;
    border: none;
    border-radius: 10px;
    margin-left: 13.5rem;
    margin-top: 12rem;
    position: absolute;
    box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.2);
  }

  .tipodocumentotxt {
    color: rgb(0, 0, 0);
    font-size: 18px;
    font-family: "Montserrat", sans-serif;
    margin-top: 20px;
    margin-left: 35px;
    position: absolute;
  }

  .banctxt {
    color: rgb(0, 0, 0);
    font-size: 18px;
    font-family: "Montserrat", sans-serif;
    margin-top: 20px;
    margin-left: 45rem;
    position: absolute;
  }

  .btnBuscar {
    border: none;
    background-color: #188063;
    color: white;
    border-radius: 4px;
    font-size: 13px;
    height: 2rem;
    width: 6rem;
    font-family: "Montserrat", sans-serif;
    margin-left: 62rem;
    margin-top: 45px;
    position: absolute;
  }
  .btnBuscar:hover {
    background-color: #188063;
  }

  .btnBuscar:active {
    background-color: white;
    color: #188063;
  }

  .dropbtn {
    background-color: #188063;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
  }

  .dropdown {
    position: absolute;
    display: inline-block;
    margin-left: 2rem;
    width: 13rem;
    height: 30px;
    margin-top: 3rem;
    font-size: 18px;
    border: none;
    border-radius: 5px;
    font-family: "Montserrat", sans-serif;
  }

  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
    border: none;
  }

  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    border: none;
  }

  .dropdown-content a:hover {
    background-color: #f1f1f1;
    border: none;
  }

  .dropdown:hover .dropdown-content {
    display: block;
    border: none;
  }

  .dropdown:hover .dropbtn {
    background-color: #3e8e41;
    border: none;
  }

  .dropbtn {
    background-color: #4caf50;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
  }

  .dropdown2 {
    position: absolute;
    display: inline-block;
    margin-left: 23.5rem;
    width: 13rem;
    height: 30px;
    margin-top: 3rem;
    font-size: 18px;
    border: none;
    border-radius: 5px;
    font-family: "Montserrat", sans-serif;
  }

  .dropdown2-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
    border: none;
  }

  .dropdown2-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    border: none;
  }

  .dropdown2-content a:hover {
    background-color: #f1f1f1;
    border: none;
  }

  .dropdown2:hover .dropdown2-content {
    display: block;
    border: none;
  }

  .dropdown2:hover .dropbtn {
    background-color: #3e8e41;
    border: none;
  }

  .dropbtn {
    background-color: #4caf50;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
  }

  .dropdown3 {
    position: absolute;
    display: inline-block;
    margin-left: 45rem;
    width: 13rem;
    height: 30px;
    margin-top: 3rem;
    font-size: 18px;
    border: none;
    border-radius: 5px;
    font-family: "Montserrat", sans-serif;
  }

  .dropdown3-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
    border: none;
  }

  .dropdown3-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    border: none;
  }

  .dropdown3-content a:hover {
    background-color: #f1f1f1;
    border: none;
  }

  .dropdown3:hover .dropdown2-content {
    display: block;
    border: none;
  }

  .dropdown3:hover .dropbtn {
    background-color: #3e8e41;
    border: none;
  }

  .quadrado2 {
    height: 1160px;
    width: 71rem;
    background-color: #ebebeb;
    border: none;
    border-radius: 10px;
    margin-left: 13.5rem;
    margin-top: 20.1rem;
    position: absolute;
    box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.2);
  }

  .VisaoFinanceiratxt {
    text-align: center;
    color: rgb(0, 0, 0);
    font-size: 30px;
    font-family: "Montserrat", sans-serif;
    margin-top: 35px;
  }

  .gf1 {
    width: 67.5rem;
    height: 500px;
    background-color: white;
    border-radius: 10px;
    margin-left: 30px;
    margin-top: 30px;
    position: absolute;
    box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.2);
  }

  .FluxodeCaixatxt {
    text-align: center;
    color: rgb(0, 0, 0);
    font-size: 20px;
    font-family: "Montserrat", sans-serif;
    margin-top: 30px;
  }

  .gf2 {
    width: 32rem;
    height: 500px;
    background-color: white;
    border-radius: 10px;
    margin-left: 30px;
    margin-top: 560px;
    position: absolute;
    box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.2);
  }

  .saidaplanocontatxt {
    text-align: center;
    color: rgb(0, 0, 0);
    font-size: 20px;
    font-family: "Montserrat", sans-serif;
    margin-top: 30px;
  }

  .gf3 {
    width: 32rem;
    height: 500px;
    background-color: white;
    border-radius: 10px;
    margin-left: 37.3rem;
    margin-top: 560px;
    position: absolute;
    box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.2);
  }

  .entradaplanocontatxt {
    text-align: center;
    color: rgb(0, 0, 0);
    font-size: 20px;
    font-family: "Montserrat", sans-serif;
    margin-top: 30px;
  }

  .quadrado3 {
    height: 52rem;
    width: 71rem;
    background-color: #ebebeb;
    border: none;
    border-radius: 10px;
    margin-left: 13.5rem;
    margin-top: 93.7rem;
    margin-bottom: 2rem;
    position: absolute;
    box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.2);
  }

  .VisaoEconomicatxt {
    text-align: center;
    color: rgb(0, 0, 0);
    font-size: 35px;
    font-family: "Montserrat", sans-serif;
    margin-top: 35px;
  }

  .gf10 {
    width: 21rem;
    height: 150px;
    background-color: #205f68;
    border-radius: 10px;
    margin-left: 2rem;
    margin-top: 550px;
    box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.2);
    position: absolute;
  }

  .receitastotaistxt {
    color: white;
    font-size: 18px;
    font-weight: 600;
    font-family: "Montserrat", sans-serif;
    margin-left: 11rem;
    margin-top: 25px;
  }

  .gf11 {
    width: 21rem;
    height: 150px;
    background-color: #f18824;
    border-radius: 10px;
    margin-left: 25.3rem;
    margin-top: 550px;
    box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.2);
    position: absolute;
    text-align: center;
  }

  .custostotaistxt {
    color: rgb(255, 255, 255);
    font-size: 18px;
    font-weight: 600;
    font-family: "Montserrat", sans-serif;
    margin-left: 11rem;
    margin-top: 25px;
  }

  .gf12 {
    width: 21rem;
    height: 150px;
    background-color: rgb(13, 121, 88);
    border-radius: 10px;
    margin-left: 48.5rem;
    margin-top: 550px;
    box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.2);
    position: absolute;
  }

  .lucroliquidotxt {
    color: rgb(255, 255, 255);
    font-size: 18px;
    font-weight: 600;
    font-family: "Montserrat", sans-serif;
    margin-left: 12rem;
    margin-top: 25px;
  }

  .gf13 {
    width: 67.5rem;
    height: 500px;
    background-color: rgb(255, 255, 255);
    border-radius: 10px;
    margin-left: 30px;
    margin-top: 10px;
    box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.2);
    position: absolute;
  }

  .lucroregimecomptxt {
    text-align: center;
    color: rgb(0, 0, 0);
    font-size: 20px;
    font-family: "Montserrat", sans-serif;
    margin-top: 30px;
  }

  .entradaplanotxt {
    text-align: center;
    color: rgb(0, 0, 0);
    font-size: 20px;
    font-family: "Montserrat", sans-serif;
    margin-top: 45px;
  }

  .saidaplanotxt {
    text-align: center;
    color: rgb(0, 0, 0);
    font-size: 20px;
    font-family: "Montserrat", sans-serif;
    margin-top: 45px;
  }

  .lucriliquidotxt {
    color: white;
    font-size: 14px;
    font-family: "Montserrat", sans-serif;
    margin-left: 105px;
    margin-top: 20px;
  }

  .Valor1 {
    position: absolute;
    margin-top: -0.3rem;
    margin-left: 17rem;
    z-index: 1000;
    white-space: nowrap;
  }

  .Valor1 p {
    color: #ffffff;
    font-size: 40px;
    font-weight: 700;
  }

  .Valor2 {
    position: absolute;
    margin-top: -0.3rem;
    margin-left: 17rem;
    z-index: 1000;
    white-space: nowrap;
  }

  .Valor2 p {
    color: #ffffff;
    font-size: 40px;
    font-weight: 700;
  }

  .Valor3 {
    position: absolute;
    margin-top: -0.3rem;
    margin-left: 17rem;
    z-index: 1000;
    white-space: nowrap;
  }

  .Valor3 p {
    color: #ffffff;
    font-size: 40px;
    font-weight: 700;
  }
}
