.ContasPagar {
  font-family: "Montserrat", sans-serif;
  font-size: 20px;
  margin-left: 13rem;
  margin-top: 0.5rem;
  white-space: nowrap;
  position: absolute;
}

.LinhaCabConPag {
  height: 0.0625rem;
  width: 110rem;
  margin-top: 2.5rem;
  margin-left: 10rem;
  background-color: #e2e2e2;
  position: absolute;
}

.diretorioPag {
  display: flex;
  justify-content: center;
  position: absolute;
  margin-top: 3.5rem;
  margin-left: 12.47rem;
  font-family: "Montserrat", sans-serif;
}

.diretorioItemPag {
  margin: 0 0.5625rem;
  font-size: 15px;
}

.diretorioItemPag:nth-child(1) {
  cursor: pointer;
}

.diretorioItemPag:nth-child(3) {
  cursor: pointer;
}

.diretorioItemPag a {
  text-decoration: none;
  color: inherit;
}

.CadastroContas {
  position: absolute;
  margin-left: 13rem;
  margin-top: 6rem;
  background-color: #e2e2e2;
  width: 104.5rem;
  height: 17rem;
  border-radius: 10px;
  font-size: 17px;
  font-family: "Montserrat", sans-serif;
}

.banco {
  margin-top: 1.5rem;
  margin-left: 2rem;
  position: absolute;
}

.banco .input-text {
  border: none;
  width: 18rem;
  height: 1.75rem;
  position: absolute;
  font-family: "Montserrat", sans-serif;
  border-radius: 5px;
  font-size: 13px;
  margin-top: 0.5rem;
}

.DataEmissao {
  margin-top: 1.5rem;
  margin-left: 27.5rem;
  position: absolute;
}

.DataEmissao .input-text {
  border: none;
  width: 18rem;
  height: 1.75rem;
  position: absolute;
  font-family: "Montserrat", sans-serif;
  border-radius: 5px;
  font-size: 13px;
  margin-top: 0.5rem;
}

.plancontapag {
  margin-left: 53rem;
  margin-top: 1.5rem;
  position: absolute;
}

#plancontapag-dropbox {
  border: none;
  width: 18rem;
  height: 1.875rem;
  position: absolute;
  font-family: "Montserrat", sans-serif;
  border-radius: 5px;
  font-size: 13px;
  margin-top: 0.5rem;
}

.tipodocpag {
  margin-left: 78.5rem;
  margin-top: 1.5rem;
  position: absolute;
}

#tipodocpag-dropbox {
  border: none;
  width: 18rem;
  height: 1.875rem;
  position: absolute;
  font-family: "Montserrat", sans-serif;
  border-radius: 5px;
  font-size: 13px;
  margin-top: 0.5rem;
}

.fornpag {
  margin-top: 6.5rem;
  margin-left: 2rem;
  position: absolute;
}

.fornpag .input-text {
  border: none;
  width: 43.5rem;
  height: 1.875rem;
  position: absolute;
  font-family: "Montserrat", sans-serif;
  border-radius: 5px;
  font-size: 13px;
  margin-top: 0.5rem;
}

.valor {
  margin-top: 6.5rem;
  margin-left: 53rem;
  position: absolute;
}

.valor .input-text {
  border: none;
  width: 18rem;
  height: 1.75rem;
  position: absolute;
  font-family: "Montserrat", sans-serif;
  border-radius: 5px;
  font-size: 13px;
  margin-top: 0.5rem;
}

.desc {
  margin-top: 11.6rem;
  margin-left: 2rem;
  position: absolute;
}

.desc .input-text {
  border: none;
  width: 43.5rem;
  height: 1.75rem;
  position: absolute;
  font-family: "Montserrat", sans-serif;
  border-radius: 5px;
  font-size: 13px;
  margin-top: 0.5rem;
}

.btnCadPag {
  margin-left: 58rem;
  margin-top: 13.1rem;
  position: absolute;
  border: none;
  background-color: #0ca293;
  color: white;
  border-radius: 4px;
  font-size: 13px;
  height: 2rem;
  width: 8.5rem;
  font-family: "Montserrat", sans-serif;
}

.btnCadPag:hover {
  background-color: #0c7e68;
}

.btnCadPag:active {
  background-color: white;
  color: #0ca293;
}

.btnAltPag {
  margin-left: 71rem;
  margin-top: 13.1rem;
  position: absolute;
  border: none;
  background-color: #2311c2;
  color: white;
  border-radius: 4px;
  font-size: 13px;
  height: 2rem;
  width: 8rem;
  font-family: "Montserrat", sans-serif;
}

.btnAltPag:hover {
  background-color: #170c7e;
}

.btnAltPag:active {
  background-color: #0c0741;
  color: #ffffff;
}

.btnDelPag {
  margin-left: 84rem;
  margin-top: 13.1rem;
  position: absolute;
  border: none;
  background-color: #bd1010;
  color: white;
  border-radius: 4px;
  font-size: 13px;
  height: 2rem;
  width: 8rem;
  font-family: "Montserrat", sans-serif;
}

.btnDelPag:hover {
  background-color: #830c0c;
}

.btnDelPag:active {
  background-color: #3a0505;
  color: #ffffff;
}

.QuadroContaS {
  position: absolute;
  margin-left: 13rem;
  margin-top: 25rem;
  background-color: #e2e2e2;
  width: 104.5rem;
  height: 32rem;
  border-radius: 10px;
  line-height: 1.5;
}

.FecharModalPag {
  position: absolute;
  margin-top: -4rem;
  margin-left: 32rem;
  height: 2rem;
  width: 2rem;
  border: none;
  background-color: transparent;
}

.modalIdDesp {
  margin-top: 0.5rem;
  position: absolute;
}

.modalIdDesp .input-text {
  border: none;
  width: 10rem;
  height: 1.75rem;
  position: absolute;
  font-family: "Montserrat", sans-serif;
  border-radius: 5px;
  font-size: 13px;
  margin-top: 0.5rem;
}

.modalBanco {
  margin-top: 0.5rem;
  margin-left: 11.5rem;
  position: absolute;
}

.modalBanco .input-text {
  border: none;
  width: 10rem;
  height: 1.75rem;
  position: absolute;
  font-family: "Montserrat", sans-serif;
  border-radius: 5px;
  font-size: 13px;
  margin-top: 0.5rem;
}

.modalDataEmissao {
  margin-top: 0.5rem;
  margin-left: 23rem;
  position: absolute;
}

.modalDataEmissao .input-text {
  border: none;
  width: 10rem;
  height: 1.75rem;
  position: absolute;
  font-family: "Montserrat", sans-serif;
  border-radius: 5px;
  font-size: 13px;
  margin-top: 0.5rem;
}

.modalPlancontapag {
  margin-top: 5.5rem;
  position: absolute;
  white-space: nowrap;
}

#modalPlancontapag-dropbox {
  border: none;
  width: 10rem;
  height: 1.875rem;
  position: absolute;
  font-family: "Montserrat", sans-serif;
  border-radius: 5px;
  font-size: 13px;
  margin-top: 0.5rem;
}

.modalTipodocpag {
  margin-top: 5.5rem;
  margin-left: 11.5rem;
  position: absolute;
}

#modalTipodocpag-dropbox {
  border: none;
  width: 10rem;
  height: 1.875rem;
  position: absolute;
  font-family: "Montserrat", sans-serif;
  border-radius: 5px;
  font-size: 13px;
  margin-top: 0.5rem;
}

.modalFornpag {
  margin-top: 10.5rem;
  position: absolute;
}

.modalFornpag .input-text {
  border: none;
  width: 33rem;
  height: 1.875rem;
  position: absolute;
  font-family: "Montserrat", sans-serif;
  border-radius: 5px;
  font-size: 13px;
  margin-top: 0.5rem;
}

.modalValor {
  margin-top: 5.5rem;
  margin-left: 23rem;
  position: absolute;
}

.modalValor .input-text {
  border: none;
  width: 10rem;
  height: 1.75rem;
  position: absolute;
  font-family: "Montserrat", sans-serif;
  border-radius: 5px;
  font-size: 13px;
  margin-top: 0.5rem;
}

.modalDesc {
  margin-top: 15.5rem;
  position: absolute;
}

.modalDesc .input-text {
  border: none;
  width: 33rem;
  height: 1.75rem;
  position: absolute;
  font-family: "Montserrat", sans-serif;
  border-radius: 5px;
  font-size: 13px;
  margin-top: 0.5rem;
}

.AlterarDadosPag {
  margin-top: 21.5rem;
  position: absolute;
  border: none;
  background-color: #2311c2;
  color: white;
  border-radius: 4px;
  font-size: 13px;
  font-weight: 600;
  height: 2rem;
  width: 8rem;
  font-family: "Montserrat", sans-serif;
  white-space: nowrap;
}

.CancelarDadosPag {
  margin-left: 25rem;
  margin-top: 21.5rem;
  position: absolute;
  border: none;
  background-color: #c21111;
  color: white;
  border-radius: 4px;
  font-size: 13px;
  font-weight: 600;
  height: 2rem;
  width: 8rem;
  font-family: "Montserrat", sans-serif;
  white-space: nowrap;
}

.modalIdDespesa {
  margin-top: 1.5rem;
  margin-left: 3rem;
  position: absolute;
}

.modalIdDespesa .input-text {
  border: none;
  width: 14rem;
  height: 1.75rem;
  position: absolute;
  font-family: "Montserrat", sans-serif;
  border-radius: 5px;
  font-size: 13px;
  margin-top: 0.5rem;
}

.DelFecharModalPag {
  position: absolute;
  margin-top: -4rem;
  margin-left: 20rem;
  height: 2rem;
  width: 2rem;
  border: none;
  background-color: transparent;
}

.ExcluirDadosPag {
  margin-top: 21.5rem;
  position: absolute;
  border: none;
  background-color: #2311c2;
  color: white;
  border-radius: 4px;
  font-size: 13px;
  font-weight: 600;
  height: 2rem;
  width: 8rem;
  font-family: "Montserrat", sans-serif;
  white-space: nowrap;
}

.DelCancelarDadosPag {
  margin-left: 12rem;
  margin-top: 9rem;
  position: absolute;
  border: none;
  background-color: #c21111;
  color: white;
  border-radius: 4px;
  font-size: 13px;
  font-weight: 600;
  height: 2rem;
  width: 8rem;
  font-family: "Montserrat", sans-serif;
  white-space: nowrap;
}

.BtnLimparCadPag {
  margin-left: 84rem;
  margin-top: 8.2rem;
  position: absolute;
  border: none;
  background-color: #8aa123;
  color: white;
  border-radius: 4px;
  font-size: 13px;
  font-weight: 600;
  height: 2rem;
  width: 8rem;
  font-family: "Montserrat", sans-serif;
  white-space: nowrap;
}

.BtnLimparCadPag:hover {
  background-color: #5a6918;
}

.BtnLimparCadPag:active {
  background-color: #2f360c;
  color: #ffffff;
}

.modalPlanoConta .input-text,
.modalTipoDocRec .input-text{
  border: none;
  width: 10rem;
  height: 1.75rem;
  position: absolute;
  font-family: "Montserrat", sans-serif;
  border-radius: 5px;
  font-size: 13px;
  margin-top: 0.5rem;
}

.readOnly {
  background-color: #d7d7d7;
}

@media screen and (max-width: 1366px) {
  .ContasPagar {
    margin-top: 0.5rem;
  }

  .LinhaCabConPag {
    margin-top: 2.5rem;
  }

  .diretorioPag {
    margin-top: 3.5rem;
  }

  .CadastroContas {
    margin-top: 5.5rem;
    width: 67.5rem;
    height: 15rem;
  }

  .banco {
    margin-top: 0.8rem;
  }

  .banco .input-text {
    width: 12.5rem;
  }

  .DataEmissao {
    margin-top: 0.8rem;
    margin-left: 18.5rem;
  }

  .DataEmissao .input-text {
    width: 12.5rem;
  }

  .plancontapag {
    margin-left: 35rem;
    margin-top: 0.8rem;
  }

  #plancontapag-dropbox {
    width: 13rem;
  }

  .tipodocpag {
    margin-left: 52rem;
    margin-top: 0.8rem;
  }

  #tipodocpag-dropbox {
    width: 13rem;
  }

  .fornpag {
    margin-top: 5.5rem;
    margin-left: 2rem;
    position: absolute;
  }

  .fornpag .input-text {
    width: 29rem;
  }

  .valor {
    margin-top: 5.5rem;
    margin-left: 35rem;
  }

  .valor .input-text {
    width: 13rem;
  }

  .desc {
    margin-top: 10.3rem;
    margin-left: 2rem;
  }

  .desc .input-text {
    width: 46rem;
  }

  .btnCadPag {
    margin-left: 54.5rem;
    margin-top: 5.4rem;
    width: 8.5rem;
  }

  .BtnLimparCadPag {
    margin-left: 54.5rem;
    margin-top: 7.6rem;
    width: 8.5rem;
  }

  .btnAltPag {
    margin-left: 54.5rem;
    margin-top: 9.8rem;
    width: 8.5rem;
  }

  .btnDelPag {
    margin-left: 54.5rem;
    margin-top: 12rem;
    width: 8.5rem;
  }

  .modal-backdrop {
    margin-top: -10%;
    margin-left: -14%;
  }

  .QuadroContaS {
    width: 67.5rem;
    height: 23rem;
    margin-top: 22rem;
  }
}
