html,
body {
  margin: 0;
  padding: 0;
  height: 100%; /* Garante que o body ocupe toda a altura */
}

.Login-page,
.Cadastro-page {
  width: 100vw; /* Largura total da viewport */
  height: 100vh;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-image: url("../Imagens/1.png"); /* Caminho da imagem */
}

.wrapper {
  width: 25rem;
  margin: auto;
  border: 2px solid rgba(255, 255, 255, 0.486);
  backdrop-filter: blur(20px);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  color: rgba(0, 0, 0, 0.7);
  border-radius: 10px;
  padding: 1.875rem 2.5rem;
  position: relative;
  background-color: transparent;
}

.wrapper h1 {
  font-size: 2.25rem;
  text-align: center;
}

.wrapper .input-box {
  position: relative;
  width: 100%;
  height: 2.8125rem;
  margin: 1.875rem 0;
}

.input-box input {
  width: 100%;
  height: 3.125rem;
  background: transparent;
  border: none;
  outline: none;
  border: 2px solid rgba(0, 0, 0, 0.4);
  border-radius: 2.5rem;
  font-size: 0.875rem;
  color: #000000;
  padding: 1.25rem 2.8125rem 1.25rem 1.25rem;
}

.input-box input::placeholder {
  color: rgba(0, 0, 0, 0.7);
}

.input-box .icon {
  position: absolute;
  right: 1.875rem;
  top: 0.5rem;
  transform: translateY(50%);
  font-size: 18px;
  color: rgba(0, 0, 0, 0.7);
}

.wrapper .btnLogin {
  width: 100%;
  height: 2.8125rem;
  background: #d4e0f4;
  border: none;
  outline: none;
  border-radius: 2.5rem;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  cursor: pointer;
  font-size: 16px;
  color: #333333;
  font-weight: 600;
}

.wrapper .register-link {
  font-size: 14.5px;
  text-align: center;
  margin: 1.25rem 0 0.9375rem;
}

.register-link p a {
  color: #000000;
  text-decoration: none;
  font-weight: 600;
}

.register-link p a:hover {
  text-decoration: underline;
}

.wrapper .login-link {
  font-size: 14.5px;
  text-align: center;
  margin: 1.75rem 0 0.9375rem;
}

.login-link p a {
  color: #000000;
  text-decoration: none;
  font-weight: 600;
}

.login-link p a:hover {
  text-decoration: underline;
}

.Login-page .error,
.Cadastro-page .error {
  font-size: 18px;
  text-align: center;
}
