.quadrado1 {
  height: 150px;
  width: 1660px;
  background-color: #ebebeb;
  border: none;
  border-radius: 10px;
  margin-left: 180px;
  margin-top: 120px;
  position: absolute;
  box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.2);
}

@media screen and (max-width: 768px) {
  .quadrado1 {
    width: 100%;
    flex-direction: column;
  }
  .quadrado2 {
    width: 100%;
    flex-direction: column;
  }
  .quadrado3 {
    width: 100%;
    flex-direction: column;
  }
}

.TipoRelatoriotxt {
  color: rgb(0, 0, 0);
  font-size: 20px;
  font-family: "Montserrat", sans-serif;
  margin-top: 25px;
  margin-left: 42px;
}

.Anotxt {
  color: rgb(0, 0, 0);
  font-size: 20px;
  font-family: "Montserrat", sans-serif;
  margin-top: -24px;
  margin-left: 542px;
}

.Filialtxt {
  color: rgb(0, 0, 0);
  font-size: 20px;
  font-family: "Montserrat", sans-serif;
  margin-top: -23px;
  margin-left: 1038px;
}

.btnBuscar {
  border: none;
  background-color: #188063;
  color: white;
  border-radius: 4px;
  font-size: 13px;
  height: 2rem;
  width: 4rem;
  font-family: "Montserrat", sans-serif;
  margin-top: 15px;
  margin-left: 1500px;
}
.btnBuscar:hover {
  background-color: #188063;
}

.btnBuscar:active {
  background-color: white;
  color: #188063;
}

.dropbtn {
  background-color: #188063;
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
  cursor: pointer;
}

.dropdown {
  position: absolute;
  display: inline-block;
  margin-left: -95.1rem;
  width: 340px;
  height: 40px;
  margin-top: 1rem;
  font-size: 22px;
  border: none;
  border-radius: 5px;
  font-family: "Montserrat", sans-serif;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
  border: none;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  border: none;
}

.dropdown-content a:hover {
  background-color: #f1f1f1;
  border: none;
}

.dropdown:hover .dropdown-content {
  display: block;
  border: none;
}

.dropdown:hover .dropbtn {
  background-color: #3e8e41;
  border: none;
}

.dropbtn {
  background-color: #4caf50;
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
  cursor: pointer;
}

.dropdown2 {
  position: absolute;
  display: inline-block;
  margin-left: -64rem;
  width: 340px;
  height: 40px;
  margin-top: 1rem;
  font-size: 22px;
  border: none;
  border-radius: 5px;
  font-family: "Montserrat", sans-serif;
}

.dropdown2-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
  border: none;
}

.dropdown2-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  border: none;
}

.dropdown2-content a:hover {
  background-color: #f1f1f1;
  border: none;
}

.dropdown2:hover .dropdown2-content {
  display: block;
  border: none;
}

.dropdown2:hover .dropbtn {
  background-color: #3e8e41;
  border: none;
}

.dropbtn {
  background-color: #4caf50;
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
  cursor: pointer;
}

.dropdown3 {
  position: absolute;
  display: inline-block;
  margin-left: -33rem;
  width: 340px;
  height: 40px;
  margin-top: 1rem;
  font-size: 22px;
  border: none;
  border-radius: 5px;
  font-family: "Montserrat", sans-serif;
}

.dropdown3-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
  border: none;
}

.dropdown3-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  border: none;
}

.dropdown3-content a:hover {
  background-color: #f1f1f1;
  border: none;
}

.dropdown3:hover .dropdown2-content {
  display: block;
  border: none;
}

.dropdown3:hover .dropbtn {
  background-color: #3e8e41;
  border: none;
}

.quadrado2 {
  height: 1900px;
  width: 1660px;
  background-color: #ebebeb;
  border: none;
  border-radius: 10px;
  margin-left: 180px;
  margin-top: 280px;
  position: absolute;
  box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.2);
}

.VisaoFinanceiratxt {
  text-align: center;
  color: rgb(0, 0, 0);
  font-size: 30px;
  font-family: "Montserrat", sans-serif;
  margin-top: 35px;
}

.gf1 {
  width: 1600px;
  height: 500px;
  background-color: white;
  border-radius: 10px;
  margin-left: 30px;
  margin-top: 20px;
  position: absolute;
  box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.2);
}

.FluxodeCaixatxt {
  text-align: center;
  color: rgb(0, 0, 0);
  font-size: 20px;
  font-family: "Montserrat", sans-serif;
  margin-top: 30px;
}

.gf2 {
  width: 780px;
  height: 500px;
  background-color: white;
  border-radius: 10px;
  margin-left: 30px;
  margin-top: 560px;
  position: absolute;
  box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.2);
}

.saidaplanocontatxt {
  text-align: center;
  color: rgb(0, 0, 0);
  font-size: 20px;
  font-family: "Montserrat", sans-serif;
  margin-top: 30px;
}

.gf3 {
  width: 780px;
  height: 500px;
  background-color: white;
  border-radius: 10px;
  margin-left: 850px;
  margin-top: 560px;
  position: absolute;
  box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.2);
}

.entradaplanocontatxt {
  text-align: center;
  color: rgb(0, 0, 0);
  font-size: 20px;
  font-family: "Montserrat", sans-serif;
  margin-top: 30px;
}

.gf4 {
  width: 780px;
  height: 500px;
  background-color: white;
  border-radius: 10px;
  margin-left: 30px;
  margin-top: 1290px;
  position: absolute;
  box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.2);
}

.saldofinaltxt {
  text-align: center;
  color: rgb(0, 0, 0);
  font-size: 20px;
  font-family: "Montserrat", sans-serif;
  margin-top: 30px;
}

.btnsaldofinal {
  background: none;
  height: 2rem;
  width: 3.5rem;
  top: 86.6rem;
  margin-left: 45.875rem;
  border: none;
  border-radius: 0.46875rem;
  color: #0a0a0a;
  display: inline-block;
  cursor: pointer;
  position: absolute;
}

.btnsaldofinal:hover {
  background-color: #cecece;
}

.btnsaldofinal:active {
  background-color: #8f8c8c;
  color: #c5c5c5;
}

.gf5 {
  width: 780px;
  height: 500px;
  background-color: white;
  border-radius: 10px;
  margin-left: 850px;
  margin-top: 1290px;
  position: absolute;
  box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.2);
}

.bancotxt {
  color: rgb(0, 0, 0);
  font-size: 20px;
  font-family: "Montserrat", sans-serif;
  margin-left: 40px;
  margin-top: 30px;
}

.dropdown4 {
  position: absolute;
  display: inline-block;
  color: #818181;
  margin-left: 2rem;
  width: 710px;
  height: 35px;
  margin-top: 2px;
  font-size: 22px;
  border-color: #c5c5c5;
  border-radius: 5px;
  font-family: "Montserrat", sans-serif;
}

.dropdown4-content {
  color: #c5c5c5;
  border: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(155, 154, 154, 0.2);
  z-index: 1;
  border: none;
}

.dropdown4-content a {
  color: rgb(179, 179, 179);
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  border: none;
}

.dropdown4-content a:hover {
  background-color: #f1f1f1;
  border: none;
}

.saldofinalevolBancotxt {
  text-align: center;
  color: rgb(0, 0, 0);
  font-size: 20px;
  font-family: "Montserrat", sans-serif;
  margin-left: 50px;
  margin-top: 45px;
}

.btnsaldofinalbanco {
  background: none;
  height: 2rem;
  width: 3.5rem;
  top: 92.1rem;
  margin-left: 96.875rem;
  border: none;
  border-radius: 0.46875rem;
  color: #0a0a0a;
  display: inline-block;
  cursor: pointer;
  position: absolute;
}

.btnsaldofinalbanco:hover {
  background-color: #cecece;
}

.btnsaldofinalbanco:active {
  background-color: #8f8c8c;
  color: #c5c5c5;
}

.gf6 {
  width: 380px;
  height: 150px;
  background-color: #066e87;
  border-radius: 10px;
  margin-left: 30px;
  margin-top: 1105px;
  position: absolute;
  box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.2);
}

.saldocaixaempresatxt {
  color: white;
  font-size: 20px;
  font-family: "Montserrat", sans-serif;
  margin-left: 140px;
  margin-top: 25px;
}

.gf7 {
  width: 380px;
  height: 150px;
  background-color: #066e87;
  border-radius: 10px;
  margin-left: 430px;
  margin-top: 1105px;
  position: absolute;
  box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.2);
}

.saldocontacorrentetxt {
  color: white;
  font-size: 20px;
  font-family: "Montserrat", sans-serif;
  margin-left: 140px;
  margin-top: 25px;
}

.gf8 {
  width: 380px;
  height: 150px;
  background-color: #066e87;
  border-radius: 10px;
  margin-left: 850px;
  margin-top: 1105px;

  position: absolute;
}

.saldobanco1txt {
  color: white;
  font-size: 20px;
  font-family: "Montserrat", sans-serif;
  margin-left: 200px;
  margin-top: 25px;
}

.gf9 {
  width: 380px;
  height: 150px;
  background-color: #066e87;
  border-radius: 10px;
  margin-left: 1250px;
  margin-top: 1105px;
  box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.2);
  position: absolute;
}

.saldobanco2txt {
  color: white;
  font-size: 20px;
  font-family: "Montserrat", sans-serif;
  margin-left: 200px;
  margin-top: 25px;
}

.quadrado3 {
  height: 1620px;
  width: 1660px;
  background-color: #ebebeb;
  border: none;
  border-radius: 10px;
  margin-left: 180px;
  margin-top: 2190px;
  position: absolute;
  box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.2);
}

.VisaoEconomicatxt {
  text-align: center;
  color: rgb(0, 0, 0);
  font-size: 35px;
  font-family: "Montserrat", sans-serif;
  margin-top: 35px;
}

.gf10 {
  width: 380px;
  height: 150px;
  background-color: rgb(64, 151, 167);
  border-radius: 10px;
  margin-left: 150px;
  margin-top: 550px;
  box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.2);
  position: absolute;
}

.receitastotaistxt {
  color: white;
  font-size: 20px;
  font-family: "Montserrat", sans-serif;
  margin-left: 200px;
  margin-top: 25px;
}

.gf11 {
  width: 380px;
  height: 150px;
  background-color: #ffaf59;
  border-radius: 10px;
  margin-left: 630px;
  margin-top: 550px;
  box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.2);
  position: absolute;
}

.custostotaistxt {
  color: rgb(255, 255, 255);
  font-size: 20px;
  font-family: "Montserrat", sans-serif;
  margin-left: 200px;
  margin-top: 25px;
}

.gf12 {
  width: 380px;
  height: 150px;
  background-color: rgb(13, 121, 88);
  border-radius: 10px;
  margin-left: 1110px;
  margin-top: 550px;
  box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.2);
  position: absolute;
}

.lucroliquidotxt {
  color: rgb(255, 255, 255);
  font-size: 20px;
  font-family: "Montserrat", sans-serif;
  margin-left: 200px;
  margin-top: 25px;
}

.gf13 {
  width: 1600px;
  height: 500px;
  background-color: rgb(255, 255, 255);
  border-radius: 20px;
  margin-left: 30px;
  margin-top: 10px;
  box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.2);
  position: absolute;
}

.lucroregimecomptxt {
  text-align: center;
  color: rgb(0, 0, 0);
  font-size: 20px;
  font-family: "Montserrat", sans-serif;
  margin-top: 30px;
}

.analisedretxt {
  text-align: center;
  color: rgb(0, 0, 0);
  font-size: 30px;
  font-family: "Montserrat", sans-serif;
  margin-top: 730px;
}

.mesanotxt {
  color: rgb(0, 0, 0);
  font-size: 20px;
  font-family: "Montserrat", sans-serif;
  margin-left: 30px;
  margin-top: 10px;
}

.dremes {
  width: 350px;
  height: 35px;
  background-color: white;
  margin-left: 30px;

  border: none;
  border-radius: 5px;
  font-size: 20px;
}

.mesdre {
  margin-top: 1rem;
}

.gf14 {
  width: 780px;
  height: 500px;
  background-color: rgb(255, 255, 255);
  border-radius: 20px;
  margin-left: 30px;
  margin-top: 20px;
  box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.2);
  position: absolute;
}

.entradaplanotxt {
  text-align: center;
  color: rgb(0, 0, 0);
  font-size: 20px;
  font-family: "Montserrat", sans-serif;
  margin-top: 45px;
}

.gf15 {
  width: 780px;
  height: 500px;
  background-color: rgb(255, 255, 255);
  border-radius: 20px;
  margin-left: 850px;
  margin-top: 20px;
  box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.2);
  position: absolute;
}

.saidaplanotxt {
  text-align: center;
  color: rgb(0, 0, 0);
  font-size: 20px;
  font-family: "Montserrat", sans-serif;
  margin-top: 45px;
}

.gf16 {
  width: 250px;
  height: 120px;
  background-color: #066e87;
  border-radius: 20px;
  margin-left: 30px;
  margin-top: 550px;
  box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.2);
  position: absolute;
}

.margemcontibuicaotxt {
  color: white;
  font-size: 14px;
  font-family: "Montserrat", sans-serif;
  margin-left: 35px;
  margin-top: 20px;
}

.gf17 {
  width: 250px;
  height: 120px;
  background-color: #066e87;
  border-radius: 20px;
  margin-left: 295px;
  margin-top: 550px;
  box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.2);
  position: absolute;
}

.margemcontribuicao2txt {
  color: white;
  font-size: 14px;
  font-family: "Montserrat", sans-serif;
  margin-left: 35px;
  margin-top: 20px;
}

.gf18 {
  width: 250px;
  height: 120px;
  background-color: #066e87;
  border-radius: 20px;
  margin-left: 560px;
  margin-top: 550px;
  box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.2);
  position: absolute;
}

.lucrooperacionaltxt {
  color: white;
  font-size: 14px;
  font-family: "Montserrat", sans-serif;
  margin-left: 95px;
  margin-top: 20px;
}

.gf19 {
  width: 250px;
  height: 120px;
  background-color: #066e87;
  border-radius: 20px;
  margin-left: 850px;
  margin-top: 550px;
  box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.2);
  position: absolute;
}

.lucriliquidotxt {
  color: white;
  font-size: 14px;
  font-family: "Montserrat", sans-serif;
  margin-left: 105px;
  margin-top: 20px;
}

.gf20 {
  width: 250px;
  height: 120px;
  background-color: #066e87;
  border-radius: 20px;
  margin-left: 1115px;
  margin-top: 550px;
  box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.2);
  position: absolute;
}

.margemliqquidatxt {
  color: white;
  font-size: 14px;
  font-family: "Montserrat", sans-serif;
  margin-left: 95px;
  margin-top: 20px;
}

.gf21 {
  width: 250px;
  height: 120px;
  background-color: #066e87;
  border-radius: 20px;
  margin-left: 1380px;
  margin-top: 550px;
  box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.2);
  position: absolute;
}

.margemliquida2txt {
  color: white;
  font-size: 14px;
  font-family: "Montserrat", sans-serif;
  margin-left: 95px;
  margin-top: 20px;
}
