.LinhaCabUser{
    height: 0.0625rem;
    width: 71.8375rem;
    margin-top: 10rem;
    margin-left: 10rem;
    background-color: #e2e2e2;
    position: absolute;
}

.PerfilUser{
    font-family: "Montserrat", sans-serif;
    font-size: 20px;
    margin-left: 13rem;
    margin-top: 5rem;
    white-space: nowrap;
    position: absolute;
}

.FormUser{
    width: 1120px;
    height: 340px;
    background-color: #e2e2e2;
    position: absolute;
    margin-top: 12rem;
    margin-left: 11rem;
    border-radius: 10px;
}

.Nome,
.Email,
.Senha,
.Tel,
.Cel{
    font-family: "Montserrat", sans-serif;
    font-size: 15px;
    position: absolute;
    margin-top: 2rem;
    margin-left: 3rem;
}

.Nome.input-label > div:first-child::after ,
.Email.input-label > div:first-child::after,
.Senha.input-label > div:first-child::after {
    content: "*";
    color: rgb(255, 0, 0);
    display: inline;
    margin-left: 5px;
}

.Email{
    margin-left: 27.5rem;
}

.Senha{
    margin-left: 52rem;
}

.senha-container {
    position: relative;
    display: inline-block;
}

.toggle-password {
    position: absolute;
    height: 100%;
    display: flex;
    align-items: center;
    border: none;
    background: none;
    top: 0;
    right: 3px;
    color: #333;
}

.Tel{
    margin-top: 10rem;
}

.Cel{
    margin-left: 27.5rem;
    margin-top: 10rem;
}

#Nome,
#Senha,
#Email,
#celularInput,
#telefoneInput{
    width: 250px;
    height: 30px;
    border: 1px solid #cccccc;
    border-radius: 5px;
    background-color: #f9f9f9;
    color: #333;
}

#Nome:focus,
#Senha:focus,
#Email:focus,
#celularInput:focus,
#telefoneInput:focus {
    outline: none;
    border-color: #000000;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
}

.btnSalvar{
    border: none;
    background-color: #0CA293;
    color: white;
    margin-top: 18rem;
    margin-left: 3rem;
    border-radius: 4px;
    font-size: 13px;
    height: 2rem;
    width: 4rem;
    font-family: "Montserrat", sans-serif;
}

.btnSalvar:hover{
    background-color: #0C7E68;
}

.btnSalvar:active{
    background-color: white;
    color: #0CA293;
}

.btnCancelar{
    border: none;
    background-color: white;
    color: rgb(46, 46, 46);
    height: 2rem;
    width: 5rem;
    font-family: "Montserrat", sans-serif;
    font-size: -13px;
    border-radius: 4px;
}

.btnCancelar:hover{
    background-color: #c7c7c7;
}

.btnCancelar:active{
    color: white;
    background-color: #838383;
}


.diretorio{
    display: flex;
    justify-content: center;
    position: absolute;
    margin-top: 8rem;
    margin-left: 12.47rem;
    font-family: "Montserrat", sans-serif;
}

.diretorioItem{
    margin: 0 0.5625rem;
    font-size: 15px;
}

.diretorioItem:nth-child(1){
    cursor: pointer;
}

.diretorioItem:nth-child(3){
    cursor: pointer;
}

.diretorioItem a{
    text-decoration: none;
    color: inherit;
}